$border: 1px solid rgb(40, 54, 24);

.container {
  margin: auto;
  max-width: 100vw;
  margin: 1% 5%;
  @media (min-width: 760px) {
    display: grid;
    grid-template-columns: 30vw 0.1fr 1fr;
  }
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 2fr 0.1fr 3fr 0.1fr 3fr;
    grid-template-rows: 2fr 2fr;
    grid-row-gap: 5%;
    grid-column-gap: 3%;
  }
}
.adminPage {
  p,
  h1,
  h2,
  h3,
  div {
    color: $darkGreen;
  }
  li {
    margin: 3% 0;
  }
  // ul > h2 {
  //   color: white;
  //   margin: 5% 0;
  // }
}
.total-container {
  grid-column: 1;
  grid-row: span 4;
  h1 {
    text-align: center;
  }
  div {
    margin: 5%;
  }
}

.horizontalLine {
  display: "none";
  @media (min-width: 760px) {
    width: 1px;
    border: $border;
  }
}
.one {
  grid-column: 2;
  grid-row: span 4;
  @media (min-width: 1024px) {
    grid-row: span 2;
  }
}
.two {
  display: none;
  @media (min-width: 1024px) {
    display: block;
    grid-column: 4;
    grid-row: 1/-1;
  }
}
.menuIconAdmin {
  margin: 3%;
  width: 10%;
  fill: $darkGreen;
  @media (min-width: 1024px) {
    width: 3%;
  }
}
.sidenav {
  //   padding: 5%;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(40, 54, 24, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  h2,
  p,
  div,
  li {
    color: white;
    cursor: pointer;
  }
  ul {
    margin: 5% 10%;
  }
  #adminName {
    font-size: 2.5rem;
  }

  li,
  .dropBtn {
    font-size: 2rem;
  }
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.size {
  width: 300px;
  @media (min-width: 760px) {
    width: 351px;
  }
}

#loginform {
  margin: 10% auto;
  padding: 5%;
  width: 40vw;
  height: 50vh;
  background-color: $redColor;
  label {
    margin: auto;
    input {
      margin: 0 5%;
    }
  }
  .button {
    margin: 5%;
  }
}
// #logout {
//   color: white;
// }

.modalDonations,
.volunteerDonations,
.projectsList {
  display: none;
  width: 50vw;
  height: 60vh;
  background-color: rgba(40, 54, 24, 0.8);
  position: absolute;
  margin: 100px 0 0 40vw;
  overflow-y: auto;
  section > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .line {
    grid-column: span 2;
  }
  h3,
  h2,
  p {
    color: white;
  }
  p,
  h3 {
    // display: inline-block;
    margin: 1%;
  }
  .line {
    width: 100%;
    margin: 3% 0 5%;
  }
  section {
    margin: 5%;
  }
  .close {
    color: white;
  }
}
#userName,
#projectUserName {
  grid-column: 1/-1;
}
