@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
header {
  width: 100vw;
  z-index: 1;
  position: absolute;
  padding: 5%;
  @media (min-width: 1024px) {
    height: 80px;
  }

  .deskmenu {
    display: none;
    @media (min-width: 1024px) {
      li {
        font-size: 2rem;
        display: inline-block;
        margin: 0 3%;
      }
      ul {
        padding-left: 15%;
        display: inline;
      }
      display: initial;
    }
  }
  svg.logo {
    width: 20%;
    float: left;
  }
  svg.menuIcon {
    z-index: 10;
    float: right;
    fill: $fontColor;
    height: 50px;
    width: 40px;
    @media (min-width: 1024px) {
      display: none;
    }
    rect {
      height: 8px;
      transition: all 0.6s;
    }
    rect:nth-child(1) {
      transform-origin: left top;
    }

    rect:nth-child(3) {
      transform-origin: left bottom;
    }
  }
  .navLogo {
    display: inline;
  }
}
ul {
  list-style-type: none;
}
.menu {
  text-align: center;
  position: absolute;
  z-index: 1;
  padding-top: 80px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.6s;
  li,
  h2 {
    line-height: 4rem;
    font-size: 3rem;
    cursor: pointer;
  }
}
.hidden {
  @include transform(translateX(-100vw));
}

.fadeOut {
  opacity: 0;
}

.rotateUp {
  @include transform(rotate(-45deg) translate(18px, 41px));
}

.rotateDown {
  @include transform(rotate(45deg) translate(17px, -14px));
}
