@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  z-index: 1;
  padding: 0 3%;
  transition: all 0.5s;
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .deskmenu {
    display: none;
    @media (min-width: 1024px) {
      // grid-column: 3;
      li {
        margin: 3% 0;
        font-size: 3rem;
        display: inline-block;
        padding: 0 5%;
        cursor: pointer;
      }
      ul {
        padding-left: 10%;
        display: inline;
      }
      display: initial;
    }
    h2 {
      font-size: 3rem;

      cursor: pointer;
    }
  }

  svg.logo {
    margin: 1% 3% 1%;
    width: 50%;
    @media (min-width: 760px) {
      width: 15%;
    }
    @media (min-width: 1024px) {
      // width: 15%;
      margin: 3%;
    }

    float: left;
  }
  svg.menuIcon {
    margin: 3%;
    z-index: 10;
    float: right;
    fill: $fontColor;
    height: 50px;
    width: 40px;
    @media (min-width: 1024px) {
      display: none;
    }
    rect {
      height: 8px;
      transition: all 0.6s;
    }
    rect:nth-child(1) {
      transform-origin: left top;
    }

    rect:nth-child(3) {
      transform-origin: left bottom;
    }
  }
  .navLogo {
    display: inline;
  }
}
ul {
  list-style-type: none;
  padding: 0;
}
.menu {
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  padding-top: 80px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 5s;
  li,
  h2 {
    line-height: 4rem;
    font-size: 3rem;
    cursor: pointer;
  }
}
.hidden {
  @include transform(translateX(-200vw));
}

.fadeOut {
  opacity: 0;
}

.rotateUp {
  @include transform(rotate(-45deg) translate(18px, 41px));
}

.rotateDown {
  @include transform(rotate(45deg) translate(17px, -14px));
}

//** dropDown from W3 mediaschools
// .dropbtn {
//   // padding: 16px;
//   // font-size: 16px;
//   // border: none;
// }

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover {
  // padding: 0 5px 5%;
  // background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  // box-shadow: 0 3px 0 rgba(0, 0, 0, 0.16), 0 3px 0 rgba(0, 0, 0, 0.23);
}
.dropdown-content {
  margin: 0;
  padding: 5% 0 5% 10%;
  display: none;
  position: absolute;
  // background-color: rgba(0, 0, 0, 0.3);
  min-width: 160px;
  // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 1;
}

.dropdown-content h2 {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.nav-colored {
  background-color: rgba(0, 0, 0, 0.8);
}
