@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
header {
  width: 100vw;
  z-index: 10;
  position: absolute;
  padding: 5%;
  @media (min-width: 1024px) {
    height: 80px;
  }
  svg {
    float: right;
    fill: $fontColor;
    height: 50px;
    width: 40px;
    @media (min-width: 1024px) {
      display: none;
    }
    rect {
      height: 8px;
      transition: all 0.6s;
    }
    rect:nth-child(1) {
      transform-origin: left top;
    }

    rect:nth-child(3) {
      transform-origin: left bottom;
    }
  }
  .navLogo {
    display: inline;
  }
}
.menu {
  position: absolute;
  z-index: 10;
  margin-top: 50px;
  width: 100vw;
  transition: all 0.6s;
  background-color: rgba(255, 255, 255, 0.9);
  ul {
    list-style-type: none;
  }
}
.hidden {
  @include transform(translateX(-100vw));
}

.fadeOut {
  opacity: 0;
}

.rotateUp {
  @include transform(rotate(-45deg) translate(18px, 41px));
}

.rotateDown {
  @include transform(rotate(45deg) translate(17px, -14px));
}
