////////Modal from W3 schools////////

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0.65) 40%,
    rgba(0, 0, 0, 0) 100%
  );
}
.donateForm,
.volunteerForm,
.notSignedIn {
  display: none;
}

.modal-content {
  position: relative;
  color: black;
  border-radius: 5px;
  background-color: white;
  margin: 5% auto;
  padding: 5%;
  width: 50%;
  @media (min-width: 1024px) {
    // width: 50%;
    // height: 50%;
  }
  h3,
  p,
  label,
  h2 {
    color: black;
  }
  p,
  label {
    font-size: 1.5rem;
  }
}
.close {
  z-index: 11;
  position: absolute;
  top: 0;
  right: 1vw;
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  // color: black;
  text-decoration: none;
  cursor: pointer;
}

.readMore,
p > .signIn {
  color: $redColor;
  cursor: pointer;
}

.description {
  margin: 1% auto;
  width: 60%;
  padding: 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  grid-template-rows: 1fr;
  .textProject,
  .titleProject,
  .textProject > h3 {
    color: black;
  }
  .left {
    grid-column: 2;
    grid-row: 1;
  }
  .titleProject {
    margin-top: 50vh;
    padding: 5%;
    color: white;
    font-size: 5rem;
  }
  .textProject {
    padding: 10%;
  }
  .imgProject {
    border-radius: 5px 0 0 5px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    grid-column: 1;
    grid-row: 1;
  }
  .close {
    position: absolute;
    top: 0;
    right: 2vw;
  }
  .button {
    width: 80%;
    margin: 0 auto 5%;
  }
  .shareIcons {
    margin: 5% 0 5% 30%;
    p {
      font-size: 1.5rem;
      display: inline;
    }
    img {
      display: inline;
      width: 15%;
    }
  }
}
.withImage {
  min-height: 32vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  position: relative;
  form {
    // width: 80%;
    padding: 15% 10%;
  }

  .formTitle {
    color: white;
    position: absolute;
    top: 3vh;
    left: 3vw;
    z-index: 10;
  }
  a {
    color: $redColor;
  }
  .modalImage {
    padding: 30% 10%;
    background-image: url(../img/daylight-environment-forest-1322351.jpg);
    background-size: cover;

    p {
      color: white;
    }
  }
  .clip {
    clip-path: polygon(0 0, 100% 0, 89% 100%, 0% 100%);
    border-radius: 5px 0 0 5px;
  }
}
input.button {
  border: none;
  color: white;
  width: 70%;
  margin: 5% 0;
}
label {
  border-bottom: 1px solid black;
  display: block;
  margin: 5% 0 0;
  padding: 1%;
  input {
    border-radius: 5px 5px 0 0;
    padding: 3%;
    display: block;
    border: 0;
    background: transparent;
  }
}
.expdate {
  border: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  input {
    border-bottom: 1px solid black;
    width: 80%;
    grid-row: 2;
    padding: 0;
  }
}
.absolute {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60%;
  transform: translate(70%);
  transition: all 0.5s;
  border-radius: 0 5px 5px 0;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
  .alreadyMember,
  .notMember {
    top: 30%;
    padding: 5%;
    // width: 42%;
  }
  // .absolute ~ .close {
  //   color: black;
  // }
  .alreadyMember {
    display: none;
  }
}
.absolute.move {
  width: 50%;
  transform: translateX(0);
  clip-path: polygon(0 0, 100% 0, 89% 100%, 0% 100%);
  border-radius: 5px 0 0 5px;
}
.absolute ~ .close {
  color: white;
}
.move ~ .close {
  color: black;
}
