////////Sign in pop up from W3 schools////////
#signIn,
#signUp {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: $greencolor;
  margin: 10% auto;
  padding: 5%;
  width: 500px;
  height: 300px;
}
.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.signUp {
  color: $redColor;
  cursor: pointer;
}
