////////Modal from W3 schools////////

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0.65) 40%,
    rgba(0, 0, 0, 0) 100%
  );
}
.donateForm,
.volunteerForm,
.notSignedIn {
  display: none;
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.modal-content {
  color: black;
  border-radius: 5px;
  background-color: white;
  margin: 5% auto;
  padding: 5%;
  width: 80%;
  @media (min-width: 1024px) {
    // width: 50%;
    // height: 50%;
  }
  h3,
  p,
  label,
  h2 {
    color: black;
  }
  p,
  label {
    font-size: 1.5rem;
  }
}
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  // color: black;
  text-decoration: none;
  cursor: pointer;
}

.signUpLink,
.readMore,
.notSignedSignIn,
p > .signIn {
  color: $redColor;
  cursor: pointer;
}

.description {
  margin: 1% auto;
  width: 60%;
  padding: 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  grid-template-rows: 1fr;
  .textProject,
  .titleProject,
  .textProject > h3 {
    color: black;
  }
  .left {
    grid-column: 2;
    grid-row: 1;
  }
  .titleProject {
    margin-top: 50vh;
    padding: 5%;
    color: white;
    font-size: 5rem;
  }
  .textProject {
    padding: 10%;
  }
  .imgProject {
    border-radius: 5px 0 0 5px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    grid-column: 1;
    grid-row: 1;
  }
  .close {
    position: absolute;
    top: 0;
    right: 2vw;
  }
  .button {
    width: 80%;
    margin: 0 auto 5%;
  }
  .shareIcons {
    margin: 5% 0 5% 30%;
    p {
      font-size: 1.5rem;
      display: inline;
    }
    img {
      display: inline;
      width: 15%;
    }
  }
}
