#profile {
  z-index: 1;
}

.userMenu {
  // grid-row: 1/2;
  // grid-column: 1;
}

#userSettings {
  // grid-row: 2;
  // grid-column: 2;
}

.box {
  width: 400px;
  height: 260px;
  background-color: grey;
  color: black;
}
.treeImage {
  min-height: 60vh;
  background-image: url(../img/environment-forest-ground-1260324.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 41%, 0 65%);
  padding: 15% 5%;
  h1 {
    display: inline;
  }
  .edit {
    width: 3%;
    // display: inline;
  }
  p {
    margin: 0 0 0 3%;
  }
}

.donationsArea {
  grid-area: donations;
}

// .content {
//   grid-area: content;
// }

.volunteerArea {
  grid-area: volunteer;
}

// #wrapper {
//   display: grid;
//   grid-template-columns: 2fr 2fr;
// }

#wrapper {
  padding: 2em;
  z-index: 10;
  position: absolute;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "....... volunteer  volunteer"
    "donations volunteer volunteer"
    "donations volunteer volunteer";
  // background-color: #fff;
  // color: #444;
  h1,
  h3,
  h4,
  p,
  h2 {
    color: $darkGreen;
  }
}
