#profile {
  z-index: 1;
  .line {
    border: 1px solid $darkGreen;
    width: 100%;
  }
}

.treeImage {
  // min-height: 60vh;
  background-image: url(../img/forest-ground.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 67%, 0% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 67%, 0% 100%);
  padding: 20% 5% 5%;
  @media (min-width: 1024px) {
    padding: 15% 5% 5%;
  }
  h1 {
    display: inline;
  }
  .edit {
    width: 3%;
    @media (min-width: 760px) {
      width: 3%;
    }
    @media (min-width: 1024px) {
      width: 2%;
    }
  }
  p {
    margin: 0 0 0 0.5%;
  }
  .updateBtn {
    display: none;
  }
}

.seeThroughTree {
  z-index: -1;
  background-image: url(../img/leaf.svg);
  background-size: cover;
  opacity: 0.1;
  position: absolute;
  bottom: -20vh;
  left: 0;
  width: 300px;
  height: 300px;
  @media (min-width: 760px) {
    width: 500px;
    height: 500px;
  }
}
#wrapper {
  padding: 5%;
  margin: auto;
  @media (min-width: 1024px) {
    padding: 0 10%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }

  h1,
  h3,
  h4,
  p,
  h2,
  div {
    color: $darkGreen;
  }
  h3 {
    text-align: right;
  }
  h2 {
    font-size: 2.5rem;
  }
  #projectSection {
    display: grid;
    grid-template-columns: 1fr 2fr 0.1fr;
    img {
      cursor: pointer;
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      width: 80%;
      margin: 0 10%;
    }
  }
  .volunteerArea {
    @media (min-width: 1024px) {
      border-left: 1px solid $darkGreen;
    }
  }
  .donationsArea,
  .volunteerArea {
    padding: 5%;
    .background {
      padding: 5%;
      border-radius: 5px;
      background-color: darken($greencolor, 10%);
    }
    .grid {
      padding: 5%;
    }
    .grid,
    #allDonations {
      margin: 5% 0;
      border-radius: 5px;
      background-color: darken($greencolor, 10%);
      color: white;
      display: grid;
      grid-template-columns: 1fr 3fr;
      // h2,
      // h3 {
      //   margin: 0;
      // }
      h3 {
        text-align: right;
      }
      .line {
        grid-column: 1/-1;
      }
    }
  }
}

#profileEmail,
#profileTel {
  display: inline-block;
}

.hide {
  display: none;
}
.donationsMade,
#area {
  margin: 0;
}

////Tooltip form W3 schools

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
#profile ~ .line.green {
  width: 100%;
}

#profile ~ #contact {
  margin: 5% 5%;
}
