#profile {
  position: relative;
  padding: 15vh;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 1em;
}

.userMenu {
  grid-row: 1/2;
  grid-column: 1;
}

#userSettings {
  grid-row: 2;
  grid-column: 2;
}

.box {
  width: 400px;
  height: 260px;
  background-color: grey;
  color: black;
}
