#profile {
  // position: relative;
  // padding: 15vh;
  // display: grid;
  // grid-template-columns: 1fr 2fr 2fr;
  // grid-gap: 1em;
}

.userMenu {
  // grid-row: 1/2;
  // grid-column: 1;
}

#userSettings {
  // grid-row: 2;
  // grid-column: 2;
}

.box {
  width: 400px;
  height: 260px;
  background-color: grey;
  color: black;
}
.treeImage {
  min-height: 100vh;
  background-image: url(../img/environment-forest-ground-1260324.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 41%, 0 65%);
  padding: 15% 5%;
  h1 {
    display: inline;
  }
  .edit {
    width: 3%;
    // display: inline;
  }
  p {
    margin: 0 0 0 3%;
  }
}
