@font-face {
  font-family: futuraBold;
  src: url(../fonts/futura/futura_bold_font.ttf);
}
@font-face {
  font-family: openSans;
  src: url(../fonts/opensans/OpenSansCondensed-Light.ttf);
}
$greencolor: #dde1d5;
$darkGreen: #283618;
$redColor: #f95738;
$lightred: #fa7960;
$fontColor: white;

@import "menu";
@import "profile";
@import "modal";

* {
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  /*1 rem = 10px*/
}
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  background-color: $greencolor;
}
h1,
h2,
h3,
p,
div,
li,
a {
  color: $fontColor;
}
h1,
h2,
li {
  margin: 0;
  font-family: futuraBold;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
  font-weight: 200;
}
p,
div {
  font-size: 2rem;
  font-family: openSans;
}
a {
  text-decoration: none;
}
.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}
.line {
  width: 80px;
  height: 1px;
  border: 1px solid white;
  margin: 0 0 5%;
}
.button {
  font-family: futuraBold;
  // border-radius: 10px;
  background-color: $lightred;
  text-align: center;
  margin: auto;
  padding: 1% 5%;
  font-size: 2rem;
}
//////////Frontpage//////////////
#hero {
  background-image: url(../img/forest1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  padding: 30vh 5vh 0 5vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);

  @media (min-width: 1024px) {
    padding: 40vh 10vh 0 10vh;
  }
  .line {
    margin: 0;
    width: 15%;
  }
  h1 {
    margin: 0;
    font-size: 5rem;
    @media (min-width: 760px) {
      font-size: 7rem;
    }
  }
  h2 {
    padding: 0 0 0 10vh;
    @media (min-width: 1024px) {
    }
  }
}
.choose {
  background-color: $redColor;
  width: 40vh;
  padding: 5% 1%;
  .line {
    border: 0.5px solid white;
  }
  h2 {
    font-family: openSans;
    text-align: center;
  }
  @media (min-width: 760px) {
    position: absolute;
    top: 30vh;
    right: 8vw;
  }
  .button {
    margin: 9% 5%;
  }
}

/////////////////////project page////////////////
#projects {
  h1,
  p,
  h2 {
    color: $darkGreen;
  }
  .line {
    border: 1px solid $darkGreen;
  }
  height: 90vh;
  padding: 5% 5% 0;
  // position: relative;
  // top: -20vh;

  @media (min-width: 760px) {
    // display: grid;
    // grid-template-columns: 2fr 1fr;
    // grid-template-rows: 40vh;
  }
}
.iconGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2%;
  margin: auto;
  h2 {
    // grid-column: 1/-1;
  }
  .icon {
    justify-self: center;
    // width: 50%;
    // background-color: $redColor;
    @media (min-width: 760px) {
      // width: auto;
    }
  }
  img {
    width: 30%;
  }
}
/////////////About////////7
#about {
  background-image: url(../img/fallen-tree.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  clip-path: polygon(0 0, 100% 9%, 100% 89%, 0% 100%);
  padding: 5% 10% 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.1fr 2fr;
  grid-gap: 1%;
  h1,
  .line {
    grid-column: 1/-1;
  }
  p {
    grid-column: 1;
  }
  .aboutDiv {
    margin-top: 10%;
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start;
    // h1 {
    //   text-align: center;
    //   font-size: 5rem;
    //   margin: 0;
    // }
    div {
      text-align: center;
      margin: 1%;
      padding: 5%;
      background-color: #283618;
      border-radius: 10px;
    }
  }
  img {
    width: 50%;
  }
}

////////////////////* Footer *//////////////

footer {
  // background-color: $darkGreen;
  h1,
  p,
  div,
  a {
    color: $darkGreen;
  }
  height: 10vh;
  padding: 0 10% 0;
  .line {
    border: 1px solid $darkGreen;
    margin: 0;
  }
  .footerIcon img {
    width: 5%;
  }
  .footerGrid {
    @media (min-width: 760px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  .smallText {
    font-size: 1rem;
  }
}
