@font-face {
  font-family: futuraBold;
  src: url(../fonts/futura/futura_bold_font.ttf);
}
@font-face {
  font-family: openSans;
  src: url(../fonts/opensans/OpenSansCondensed-Light.ttf);
}
$greencolor: #dde1d5;
$redColor: #f95738;
$lightred: #fa7960;
$fontColor: white;

@import "menu";
@import "modal";
@import "profile";

* {
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  /*1 rem = 10px*/
}
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  background-color: $greencolor;
}
h1,
h2,
h3,
p,
div,
li,
a {
  color: $fontColor;
}
h1,
h2,
li {
  margin: 0;
  font-family: futuraBold;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  font-weight: 200;
}
p,
div {
  font-size: 1.5rem;
  font-family: openSans;
}
a {
  text-decoration: none;
}

//////////Frontpage//////////////
#hero {
  background-image: url(../img/forest1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  padding: 30vh 5vh 0 5vh;
  -webkit-clip-path: polygon(0 79%, 0 0, 100% 0, 100% 93%);
  clip-path: polygon(0 79%, 0 0, 100% 0, 100% 93%);
  @media (min-width: 1024px) {
    padding: 30vh 10vh 0 10vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
  }
  h1 {
    font-size: 5rem;
    @media (min-width: 760px) {
      font-size: 7rem;
      grid-column: 1;
    }
  }
  h2 {
    padding: 0 0 0 10vh;
    @media (min-width: 1024px) {
      grid-column: 1;
      grid-row: 2;
    }
  }
  .choose {
    @media (min-width: 1024px) {
      z-index: 2;
      grid-row: 1/3;
      grid-column: 2;
    }
  }
}

/////////////////////donate page////////////////
#fund {
  max-height: 100vh;
  padding: 0 10%;
  position: relative;
  // top: -20vh;

  @media (min-width: 760px) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    // grid-template-rows: 40vh;
  }
}
.iconGrid {
  display: grid;
  grid-template-columns: auto auto;
  height: 40vh;
  margin: auto;
  h2 {
    grid-column: 1/-1;
  }
  div {
    // background-image: url(../img/14534853.jpg);
    justify-self: center;
    width: 50%;
    // background-color: $redColor;
    @media (min-width: 760px) {
      width: auto;
    }
  }
  img {
    width: 30%;
  }
}

.choose {
  margin: 5% auto;
  background-color: $redColor;
  width: 40vh;
  height: 60vh;
  padding: 20% 5%;
  @media (min-width: 760px) {
    margin: auto;
  }

  .button {
    background-color: $lightred;
    text-align: center;
    margin: 5%;
  }
}

/////////////About////////7
#about {
  position: relative;
  // top: -22vh;
  background-image: url(../img/fallen-tree.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-clip-path: polygon(0 86%, 0 0, 100% 11%, 100% 76%);
  clip-path: polygon(0 86%, 0 0, 100% 11%, 100% 76%);

  // clip-path: polygon(0 70%, 100% 28%, 100% 82%, 0 100%);
  padding: 30% 10%;
}

////modal///
.modal-box {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-discription {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.closeModal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.readMore {
  cursor: pointer;
}

.textProject,
.titleProject,
.textProject > h3 {
  color: black;
}

.imgProject {
  width: 400px;
}

.slide-modal {
  width: 200px;
  z-index: 10;
  height: 100px;
  background-color: rgb(140, 140, 143);
  margin: 15px;
  color: black;
  position: absolute;
  top: -300px;
  transition: transform 2s ease-in;
  float: right;
}

.slide {
  transform: translateY(300px);
}
