@font-face {
  font-family: futuraBold;
  src: url(../fonts/futura/futura_bold_font.ttf);
}
@font-face {
  font-family: openSans;
  src: url(../fonts/opensans/OpenSans-Regular.ttf);
}
$greencolor: #dde1d5;
$darkGreen: #283618;
$redColor: #f95738;
$lightred: #fa7960;
$errorRed: rgb(221, 43, 8);
$lightBlue: rgb(191, 206, 203);
$fontColor: white;

@import "menu";
@import "profile";
@import "modal";
@import "admin";

* {
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  /*1 rem = 10px*/
}
html {
  scroll-behavior: smooth;
  max-width: 100vw;
}
body {
  margin: 0;
  padding: 0;
  background-color: $greencolor;
}
h1,
h2,
h3,
p,
div,
li,
a {
  color: $fontColor;
}
h1,
h2,
li,
label {
  margin: 0;
  font-family: futuraBold;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
  font-weight: 200;
}
h3 {
  font-size: 1.5rem;
}
p,
div {
  font-family: openSans;
  font-size: 2rem;
  @media (min-width: 1024px) {
    font-size: 1.5rem;
  }
}
a {
  text-decoration: none;
}
.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  &:active {
    box-shadow: none;
  }
}
.line {
  width: 80px;
  height: 1px;
  border: 1px solid white;
  margin: 0 0 5%;
}
.line.green {
  border: 1px solid $darkGreen;
}
.button {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  cursor: pointer;
  font-family: futuraBold;
  background-color: $lightred;
  text-align: center;
  margin: auto;
  padding: 1% 5%;
  font-size: 2rem;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  &:active {
    @include transform(translateX(-3%) translateY(-5%) scale(0.9));
  }
  &:disabled {
    background-color: grey;
    box-shadow: none;
    // cursor: not-allowed;
  }
}
//////////Frontpage//////////////
#hero {
  background-image: url(../img/foresttablet.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  padding: 30vh 5vh 0 5vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  @media (min-width: 760px) {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media (min-width: 1024px) {
    background-image: url(../img/forest5.jpg);
    padding: 40vh 10vh 0 10vh;
  }

  .line {
    margin: 0;
    width: 15%;
  }
  h1 {
    margin: 0;
    font-size: 5rem;
    @media (min-width: 760px) {
      font-size: 7rem;
    }
  }
  h2 {
    font-size: 2.5rem;
    padding: 4vh 0 0 5vh;
    @media (min-width: 760px) {
      padding: 4vh 0 0 15vh;
    }
    @media (min-width: 1024px) {
      padding: 4vh 0 0 25vh;
    }
  }
}

.choose {
  border-radius: 5px;
  margin: auto;
  background-color: $redColor;
  width: 70vw;
  padding: 3%;
  .line {
    border: 0.5px solid white;
  }
  h2 {
    font-family: openSans;
    text-align: center;
  }
  .button {
    margin: 9% auto;
  }
  @media (min-width: 760px) {
    padding: 5%;
    width: 40vw;
  }
  // @media (min-width: 800px) {
  //   top: 20vh;
  //   right: 5vw;
  //
  // }

  @media (min-width: 1024px) {
    position: absolute;
    padding: 3%;
    width: 30vw;
    top: 30vh;
    right: 8vw;
  }
}

///scroll arrow animation from Paul Schneider https://codepen.io/bypavel/pen/jAXpgq
#scroll-down {
  display: block;
  position: absolute;
  bottom: 1vh;
  left: 45vw;
  padding-top: 51px;
  text-align: center;
  @media (min-width: 760px) {
    bottom: 10vh;
  }
}
.arrow-down {
  display: block;
  margin: 0 auto;
  width: 10px;
  height: 38px;
}
.arrow-down:after {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  behavior: url(-ms-transform.htc);
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
#scroll-down::before {
  -webkit-animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Safari 4+ */

  -moz-animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Fx 5+ */

  -o-animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Opera 12+ */

  animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
  /* IE 10+, Fx 29+ */

  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -1px;
  width: 3px;
  height: 60px;
  background: white;
  content: " ";
}
// @-webkit-keyframes elasticus {
//   0% {
//     -webkit-transform-origin: 0% 0%;
//     -ms-transform-origin: 0% 0%;
//     -moz-transform-origin: 0% 0%;
//     -o-transform-origin: 0% 0%;
//     transform-origin: 0% 0%;
//     -webkit-transform: scale(1, 0);
//     -ms-transform: scale(1, 0);
//     -moz-transform: scale(1, 0);
//     -o-transform: scale(1, 0);
//     transform: scale(1, 0);
//   }
//   50% {
//     -webkit-transform-origin: 0% 0%;
//     -ms-transform-origin: 0% 0%;
//     -moz-transform-origin: 0% 0%;
//     -o-transform-origin: 0% 0%;
//     transform-origin: 0% 0%;
//     -webkit-transform: scale(1, 1);
//     -ms-transform: scale(1, 1);
//     -moz-transform: scale(1, 1);
//     -o-transform: scale(1, 1);
//     transform: scale(1, 1);
//   }
//   50.1% {
//     -webkit-transform-origin: 0% 100%;
//     -ms-transform-origin: 0% 100%;
//     -moz-transform-origin: 0% 100%;
//     -o-transform-origin: 0% 100%;
//     transform-origin: 0% 100%;
//     -webkit-transform: scale(1, 1);
//     -ms-transform: scale(1, 1);
//     -moz-transform: scale(1, 1);
//     -o-transform: scale(1, 1);
//     transform: scale(1, 1);
//   }
//   100% {
//     -webkit-transform-origin: 0% 100%;
//     -ms-transform-origin: 0% 100%;
//     -moz-transform-origin: 0% 100%;
//     -o-transform-origin: 0% 100%;
//     transform-origin: 0% 100%;
//     -webkit-transform: scale(1, 0);
//     -ms-transform: scale(1, 0);
//     -moz-transform: scale(1, 0);
//     -o-transform: scale(1, 0);
//     transform: scale(1, 0);
//   }
// }
// @-moz-keyframes elasticus {
//   0% {
//     -webkit-transform-origin: 0% 0%;
//     -ms-transform-origin: 0% 0%;
//     -moz-transform-origin: 0% 0%;
//     -o-transform-origin: 0% 0%;
//     transform-origin: 0% 0%;
//     -webkit-transform: scale(1, 0);
//     -ms-transform: scale(1, 0);
//     -moz-transform: scale(1, 0);
//     -o-transform: scale(1, 0);
//     transform: scale(1, 0);
//   }
//   50% {
//     -webkit-transform-origin: 0% 0%;
//     -ms-transform-origin: 0% 0%;
//     -moz-transform-origin: 0% 0%;
//     -o-transform-origin: 0% 0%;
//     transform-origin: 0% 0%;
//     -webkit-transform: scale(1, 1);
//     -ms-transform: scale(1, 1);
//     -moz-transform: scale(1, 1);
//     -o-transform: scale(1, 1);
//     transform: scale(1, 1);
//   }
//   50.1% {
//     -webkit-transform-origin: 0% 100%;
//     -ms-transform-origin: 0% 100%;
//     -moz-transform-origin: 0% 100%;
//     -o-transform-origin: 0% 100%;
//     transform-origin: 0% 100%;
//     -webkit-transform: scale(1, 1);
//     -ms-transform: scale(1, 1);
//     -moz-transform: scale(1, 1);
//     -o-transform: scale(1, 1);
//     transform: scale(1, 1);
//   }
//   100% {
//     -webkit-transform-origin: 0% 100%;
//     -ms-transform-origin: 0% 100%;
//     -moz-transform-origin: 0% 100%;
//     -o-transform-origin: 0% 100%;
//     transform-origin: 0% 100%;
//     -webkit-transform: scale(1, 0);
//     -ms-transform: scale(1, 0);
//     -moz-transform: scale(1, 0);
//     -o-transform: scale(1, 0);
//     transform: scale(1, 0);
//   }
// }
// @-o-keyframes elasticus {
//   0% {
//     -webkit-transform-origin: 0% 0%;
//     -ms-transform-origin: 0% 0%;
//     -moz-transform-origin: 0% 0%;
//     -o-transform-origin: 0% 0%;
//     transform-origin: 0% 0%;
//     -webkit-transform: scale(1, 0);
//     -ms-transform: scale(1, 0);
//     -moz-transform: scale(1, 0);
//     -o-transform: scale(1, 0);
//     transform: scale(1, 0);
//   }
//   50% {
//     -webkit-transform-origin: 0% 0%;
//     -ms-transform-origin: 0% 0%;
//     -moz-transform-origin: 0% 0%;
//     -o-transform-origin: 0% 0%;
//     transform-origin: 0% 0%;
//     -webkit-transform: scale(1, 1);
//     -ms-transform: scale(1, 1);
//     -moz-transform: scale(1, 1);
//     -o-transform: scale(1, 1);
//     transform: scale(1, 1);
//   }
//   50.1% {
//     -webkit-transform-origin: 0% 100%;
//     -ms-transform-origin: 0% 100%;
//     -moz-transform-origin: 0% 100%;
//     -o-transform-origin: 0% 100%;
//     transform-origin: 0% 100%;
//     -webkit-transform: scale(1, 1);
//     -ms-transform: scale(1, 1);
//     -moz-transform: scale(1, 1);
//     -o-transform: scale(1, 1);
//     transform: scale(1, 1);
//   }
//   100% {
//     -webkit-transform-origin: 0% 100%;
//     -ms-transform-origin: 0% 100%;
//     -moz-transform-origin: 0% 100%;
//     -o-transform-origin: 0% 100%;
//     transform-origin: 0% 100%;
//     -webkit-transform: scale(1, 0);
//     -ms-transform: scale(1, 0);
//     -moz-transform: scale(1, 0);
//     -o-transform: scale(1, 0);
//     transform: scale(1, 0);
//   }
// }
@keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

/////////////////////project page////////////////
#projects {
  padding: 5%;
  h1,
  p,
  h2 {
    color: $darkGreen;
  }
  .line {
    border: 1px solid $darkGreen;
  }
  min-height: 100vh;
  padding: 5% 5% 0;
  @media (min-width: 760px) {
    padding: 10% 5%;
  }
  @media (min-width: 1024px) {
    padding: 0 5%;
  }
}
.iconGrid {
  @media (min-width: 760px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2%;
  }

  margin: auto;
  // h2 {
  //   // grid-column: 1/-1;
  // }
  .icon {
    margin: 10%;
    justify-self: center;
    h2 {
      text-align: center;
    }
    // width: 50%;
    // background-color: $redColor;
    @media (min-width: 760px) {
      margin: 0;

      // width: auto;
    }
  }
  svg,
  img {
    display: block;
    margin: 3% auto;
    height: 10vh;
    width: 20vw;
    @media (min-width: 760px) {
      width: 10vw;
    }
  }
}
.descHeight {
  margin: 0 0 1rem;
  @media (min-width: 760px) {
    min-height: 19vh;
  }
}
.titleHeight {
  @media (min-width: 760px) {
    min-height: 5vh;
  }
  @media (min-width: 1024px) {
    min-height: 10vh;
  }
}
/////////////About////////7
#about {
  background-color: $darkGreen;
  background-image: url(../img/fallen-tree.jpg);
  // background-size: contain;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 110vh;
  clip-path: polygon(0 0, 100% 5%, 100% 95%, 0% 100%);
  -webkit-clip-path: polygon(0 0, 100% 5%, 100% 95%, 0% 100%);
  padding: 20% 10%;
  @media (min-width: 760px) {
    background-size: none;
    padding: 20% 15%;
  }
  @media (min-width: 1024px) {
    background-size: cover;
    padding: 5% 10% 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.1fr 2fr;
    grid-gap: 1%;
    clip-path: polygon(0 0, 100% 9%, 100% 89%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 9%, 100% 89%, 0% 100%);
  }
  h1,
  .line {
    grid-column: 1/-1;
  }
  p {
    grid-column: 1;
  }
  .aboutDiv {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start;
    @media (min-width: 760px) {
      margin: 10% 15%;
    }
    @media (min-width: 1024px) {
      margin: 10% 0 0 0;
    }

    // h1 {
    //   text-align: center;
    //   font-size: 5rem;
    //   margin: 0;
    // }
    div {
      text-align: center;
      margin: 1%;
      padding: 5%;
      background-color: #283618;
      border-radius: 5px;
    }
  }
  svg {
    height: 10vh;
    width: 20vw;
    @media (min-width: 760px) {
      width: 10vw;
    }
  }
}

////////////////////* Footer *//////////////

footer {
  // background-color: $darkGreen;
  h1,
  p,
  div,
  a {
    color: $darkGreen;
  }
  min-height: 10vh;
  padding: 0 10% 0;
  .line {
    border: 1px solid $darkGreen;
    margin: 0;
  }
  .footerIcon img {
    width: 3%;
  }
  .footerGrid {
    @media (min-width: 760px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  .smallText {
    font-size: 1rem;
    float: right;
  }
}

.hidden {
  display: none;
}

#contact h1 {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.animate {
  width: 50%;
}
.path {
  fill: none;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  stroke-miterlimit: 10;
  stroke-width: 5px;
}
.path.white {
  stroke: white;
}
.path.green {
  stroke: #283618;
}
.draw {
  animation: dash 2s linear forwards;
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}
