@font-face {
  font-family: futuraBold;
  src: url(../fonts/futura/futura_bold_font.ttf); }

@font-face {
  font-family: openSans;
  src: url(../fonts/opensans/OpenSansCondensed-Light.ttf); }

li {
  cursor: pointer; }

header {
  width: 100vw;
  z-index: 1;
  position: absolute;
  padding: 5%; }
  @media (min-width: 1024px) {
    header {
      height: 80px; } }
  header .deskmenu {
    display: none; }
    @media (min-width: 1024px) {
      header .deskmenu {
        display: initial; }
        header .deskmenu li {
          font-size: 1.5rem;
          display: inline-block;
          margin: 0 5%; }
        header .deskmenu ul {
          padding-left: 30%;
          display: inline; } }
  header svg {
    float: right;
    fill: white;
    height: 50px;
    width: 40px; }
    @media (min-width: 1024px) {
      header svg {
        display: none; } }
    header svg rect {
      height: 8px;
      transition: all 0.6s; }
    header svg rect:nth-child(1) {
      transform-origin: left top; }
    header svg rect:nth-child(3) {
      transform-origin: left bottom; }
  header .navLogo {
    display: inline; }

ul {
  list-style-type: none; }

.menu {
  position: absolute;
  z-index: 1;
  margin-top: 80px;
  width: 100vw;
  transition: all 0.6s; }
  .menu li {
    font-size: 1.3rem; }

.hidden {
  -webkit-transform: translateX(-100vw);
  -ms-transform: translateX(-100vw);
  transform: translateX(-100vw); }

.fadeOut {
  opacity: 0; }

.rotateUp {
  -webkit-transform: rotate(-45deg) translate(18px, 41px);
  -ms-transform: rotate(-45deg) translate(18px, 41px);
  transform: rotate(-45deg) translate(18px, 41px); }

.rotateDown {
  -webkit-transform: rotate(45deg) translate(17px, -14px);
  -ms-transform: rotate(45deg) translate(17px, -14px);
  transform: rotate(45deg) translate(17px, -14px); }

#signIn,
#signUp {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); }

.modal-content {
  background-color: #dde1d5;
  margin: 10% auto;
  padding: 5%;
  width: 80%; }
  @media (min-width: 1024px) {
    .modal-content {
      width: 50%;
      height: 50%; } }

.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

.signUp {
  color: #f95738;
  cursor: pointer; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  background-color: #dde1d5; }

h1,
h2,
h3,
p,
div,
li,
a {
  color: white; }

h1,
h2,
li {
  margin: 0;
  font-family: futuraBold; }

h2 {
  font-weight: 200; }

p,
div {
  font-family: openSans; }

a {
  text-decoration: none; }

#hero {
  background-image: url(../img/forest1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  width: 100vw;
  top: 0;
  padding: 30vh 5vh 0 5vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 68%); }
  @media (min-width: 1024px) {
    #hero {
      padding: 50vh 10vh 0 10vh; } }
  #hero h1 {
    font-size: 3rem; }
    @media (min-width: 760px) {
      #hero h1 {
        font-size: 5rem; } }
  #hero h2 {
    padding: 0 0 0 10vh; }

#fund {
  max-height: 100vh;
  padding: 0 10%;
  position: relative;
  top: -25vh; }
  @media (min-width: 760px) {
    #fund {
      display: grid;
      grid-template-columns: 2fr 1fr; } }

.iconGrid {
  display: grid;
  grid-template-columns: auto auto;
  height: 40vh;
  margin: auto; }
  .iconGrid h2 {
    grid-column: 1/-1; }
  .iconGrid div {
    justify-self: center;
    width: 50%; }
    @media (min-width: 760px) {
      .iconGrid div {
        width: auto; } }
  .iconGrid img {
    width: 30%; }

.choose {
  margin: 5% auto;
  background-color: #f95738;
  width: 40vh;
  height: 60vh;
  padding: 20% 5%; }
  @media (min-width: 760px) {
    .choose {
      margin: auto; } }
  .choose .button {
    background-color: #fa7960;
    text-align: center;
    margin: 5%; }

#about {
  position: relative;
  top: -32vh;
  background-image: url(../img/fallen-tree.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  clip-path: polygon(0 0, 100% 28%, 100% 82%, 0 100%);
  padding: 30% 10%; }
