@font-face {
  font-family: futuraBold;
  src: url(../fonts/futura/futura_bold_font.ttf); }

@font-face {
  font-family: openSans;
  src: url(../fonts/opensans/OpenSansCondensed-Light.ttf); }

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  z-index: 1;
  padding: 0 3%;
  transition: all 0.5s; }
  @media (min-width: 1024px) {
    header {
      display: grid;
      grid-template-columns: 1fr 2fr; } }
  header .deskmenu {
    display: none; }
    @media (min-width: 1024px) {
      header .deskmenu {
        display: initial; }
        header .deskmenu li {
          margin: 3% 0;
          font-size: 3rem;
          display: inline-block;
          padding: 0 5%;
          cursor: pointer; }
        header .deskmenu ul {
          padding-left: 10%;
          display: inline; } }
    header .deskmenu h2 {
      font-size: 3rem;
      cursor: pointer; }
  header svg.logo {
    margin: 1% 3% 1%;
    width: 50%;
    float: left; }
    @media (min-width: 760px) {
      header svg.logo {
        width: 30%; } }
    @media (min-width: 1024px) {
      header svg.logo {
        width: 50%;
        margin: 3%; } }
  header svg.menuIcon {
    margin: 3%;
    z-index: 10;
    float: right;
    fill: white;
    height: 50px;
    width: 40px; }
    @media (min-width: 1024px) {
      header svg.menuIcon {
        display: none; } }
    header svg.menuIcon rect {
      height: 8px;
      transition: all 0.6s; }
    header svg.menuIcon rect:nth-child(1) {
      transform-origin: left top; }
    header svg.menuIcon rect:nth-child(3) {
      transform-origin: left bottom; }
  header .navLogo {
    display: inline; }

ul {
  list-style-type: none; }

.menu {
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  padding-top: 80px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.6s; }
  .menu li,
  .menu h2 {
    line-height: 4rem;
    font-size: 3rem;
    cursor: pointer; }

.hidden {
  -webkit-transform: translateX(-100vw);
  -ms-transform: translateX(-100vw);
  transform: translateX(-100vw); }

.fadeOut {
  opacity: 0; }

.rotateUp {
  -webkit-transform: rotate(-45deg) translate(18px, 41px);
  -ms-transform: rotate(-45deg) translate(18px, 41px);
  transform: rotate(-45deg) translate(18px, 41px); }

.rotateDown {
  -webkit-transform: rotate(45deg) translate(17px, -14px);
  -ms-transform: rotate(45deg) translate(17px, -14px);
  transform: rotate(45deg) translate(17px, -14px); }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown:hover {
  border-radius: 5px; }

.dropdown-content {
  margin: 0;
  padding: 5% 0 5% 10%;
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1; }

.dropdown-content h2 {
  display: block; }

.dropdown:hover .dropdown-content {
  display: block; }

.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }

.nav-colored {
  background-color: rgba(0, 0, 0, 0.8); }

#profile {
  z-index: 1; }
  #profile .line {
    border: 1px solid #283618;
    width: 100%; }

.treeImage {
  background-image: url(../img/forest-ground.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 67%, 0% 100%);
  padding: 20% 5% 5%; }
  @media (min-width: 1024px) {
    .treeImage {
      padding: 15% 5% 5%; } }
  .treeImage h1 {
    display: inline; }
  .treeImage .edit {
    width: 3%; }
    @media (min-width: 760px) {
      .treeImage .edit {
        width: 3%; } }
    @media (min-width: 1024px) {
      .treeImage .edit {
        width: 2%; } }
  .treeImage p {
    margin: 0 0 0 0.5%; }

.seeThroughTree {
  background-image: url(../img/leaf.svg);
  background-size: cover;
  opacity: 0.1;
  position: absolute;
  bottom: -20vh;
  left: 0;
  width: 300px;
  height: 300px; }
  @media (min-width: 760px) {
    .seeThroughTree {
      width: 500px;
      height: 500px; } }

#wrapper {
  padding: 5%;
  margin: auto; }
  @media (min-width: 1024px) {
    #wrapper {
      padding: 0 20%;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr; } }
  #wrapper h1,
  #wrapper h3,
  #wrapper h4,
  #wrapper p,
  #wrapper h2,
  #wrapper div {
    color: #283618; }
  #wrapper h3 {
    text-align: right; }
  #wrapper h2 {
    font-size: 2.5rem; }
  #wrapper #projectSection {
    display: grid;
    grid-template-columns: 1fr 2fr; }
  #wrapper .volunteerArea {
    padding: 5%; }
    @media (min-width: 1024px) {
      #wrapper .volunteerArea {
        border-left: 1px solid #283618; } }
  #wrapper .donationsArea {
    padding: 5%; }

#profileEmail,
#profileTel {
  display: inline-block; }

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 40%, rgba(0, 0, 0, 0) 100%); }

.donateForm,
.volunteerForm,
.notSignedIn {
  display: none; }

form {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.modal-content {
  color: black;
  border-radius: 5px;
  background-color: white;
  margin: 5% auto;
  padding: 5%;
  width: 50%; }
  .modal-content h3,
  .modal-content p,
  .modal-content label,
  .modal-content h2 {
    color: black; }
  .modal-content p,
  .modal-content label {
    font-size: 1.5rem; }

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer; }

.signUpLink,
.readMore,
.notSignedSignIn,
p > .signIn {
  color: #f95738;
  cursor: pointer; }

.description {
  margin: 1% auto;
  width: 60%;
  padding: 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  grid-template-rows: 1fr; }
  .description .textProject,
  .description .titleProject,
  .description .textProject > h3 {
    color: black; }
  .description .left {
    grid-column: 2;
    grid-row: 1; }
  .description .titleProject {
    margin-top: 50vh;
    padding: 5%;
    color: white;
    font-size: 5rem; }
  .description .textProject {
    padding: 10%; }
  .description .imgProject {
    border-radius: 5px 0 0 5px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    grid-column: 1;
    grid-row: 1; }
  .description .close {
    position: absolute;
    top: 0;
    right: 2vw; }
  .description .button {
    width: 80%;
    margin: 0 auto 5%; }
  .description .shareIcons {
    margin: 5% 0 5% 30%; }
    .description .shareIcons p {
      font-size: 1.5rem;
      display: inline; }
    .description .shareIcons img {
      display: inline;
      width: 15%; }

.container {
  margin: auto;
  max-width: 100vw;
  margin: 1% 5%; }
  @media (min-width: 760px) {
    .container {
      display: grid;
      grid-template-columns: 30vw 0.1fr 1fr; } }
  @media (min-width: 1024px) {
    .container {
      display: grid;
      grid-template-columns: 2fr 0.1fr 3fr 0.1fr 3fr;
      grid-template-rows: 2fr 2fr;
      grid-row-gap: 5%;
      grid-column-gap: 3%; } }

.adminPage p,
.adminPage h1,
.adminPage h2,
.adminPage h3,
.adminPage div {
  color: #283618; }

.adminPage li {
  margin: 3% 0; }

.adminPage ul > h2 {
  color: white;
  margin: 5% 0; }

.total-container {
  grid-column: 1;
  grid-row: span 4; }
  .total-container h1 {
    text-align: center; }
  .total-container div {
    margin: 5%; }

.horizontalLine {
  display: "none"; }
  @media (min-width: 760px) {
    .horizontalLine {
      width: 1px;
      border: 1px solid #283618; } }

.one {
  grid-column: 2;
  grid-row: span 4; }
  @media (min-width: 1024px) {
    .one {
      grid-row: span 2; } }

.two {
  display: none; }
  @media (min-width: 1024px) {
    .two {
      display: block;
      grid-column: 4;
      grid-row: 1/-1; } }

.menuIconAdmin {
  margin: 3%;
  width: 10%;
  fill: #283618; }
  @media (min-width: 1024px) {
    .menuIconAdmin {
      width: 3%; } }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(40, 54, 24, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  color: white; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

.size {
  width: 300px; }
  @media (min-width: 760px) {
    .size {
      width: 351px; } }

#loginform {
  width: 40vw;
  height: 50vh;
  position: absolute;
  background-color: #878b87; }

.modalDonations,
.volunteerDonations,
.projectsList {
  width: 40vw;
  height: 60vh;
  background-color: rgba(40, 54, 24, 0.8);
  position: absolute;
  margin: 100px 0 0 40vw;
  overflow-y: auto;
  display: none; }
  .modalDonations h3,
  .modalDonations h2,
  .modalDonations p,
  .volunteerDonations h3,
  .volunteerDonations h2,
  .volunteerDonations p,
  .projectsList h3,
  .projectsList h2,
  .projectsList p {
    color: white; }
  .modalDonations p,
  .modalDonations h3,
  .volunteerDonations p,
  .volunteerDonations h3,
  .projectsList p,
  .projectsList h3 {
    display: inline-block;
    margin: 0 10% 0; }
  .modalDonations .line,
  .volunteerDonations .line,
  .projectsList .line {
    width: 100%;
    margin: 3% 0 10%; }
  .modalDonations section,
  .volunteerDonations section,
  .projectsList section {
    margin: 5%; }
  .modalDonations .close,
  .volunteerDonations .close,
  .projectsList .close {
    color: white; }

.dropbtn {
  color: #062911;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1; }

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  background-color: #f1f1f1; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown:hover .dropbtn {
  background-color: #3e8e41; }

* {
  box-sizing: border-box; }

:root {
  font-size: 62.5%;
  /*1 rem = 10px*/ }

html {
  max-width: 100vw; }

body {
  margin: 0;
  padding: 0;
  background-color: #dde1d5; }

h1,
h2,
h3,
p,
div,
li,
a {
  color: white; }

h1,
h2,
li {
  margin: 0;
  font-family: futuraBold; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2rem;
  font-weight: 200; }

p,
div {
  font-size: 2rem;
  font-family: openSans; }

a {
  text-decoration: none; }

.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .shadow:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.line {
  width: 80px;
  height: 1px;
  border: 1px solid white;
  margin: 0 0 5%; }

.line.green {
  border: 1px solid #283618; }

.button {
  border-radius: 5px;
  cursor: pointer;
  font-family: futuraBold;
  background-color: #fa7960;
  text-align: center;
  margin: auto;
  padding: 1% 5%;
  font-size: 2rem; }

#hero {
  background-image: url(../img/forest.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  padding: 30vh 5vh 0 5vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%); }
  @media (min-width: 1024px) {
    #hero {
      padding: 40vh 10vh 0 10vh; } }
  #hero .line {
    margin: 0;
    width: 15%; }
  #hero h1 {
    margin: 0;
    font-size: 5rem; }
    @media (min-width: 760px) {
      #hero h1 {
        font-size: 7rem; } }
  #hero h2 {
    font-size: 2.5rem;
    padding: 4vh 0 0 25vh; }
    @media (min-width: 760px) {
      #hero h2 {
        padding: 4vh 0 0 5vh; } }

.choose {
  border-radius: 5px;
  margin: auto;
  background-color: #f95738;
  width: 40vw;
  padding: 5% 1%; }
  .choose .line {
    border: 0.5px solid white; }
  .choose h2 {
    font-family: openSans;
    text-align: center; }
  .choose .button {
    margin: 9% 5%; }
  @media (min-width: 760px) {
    .choose {
      position: absolute;
      top: 60vh;
      right: 30vw; } }
  @media (min-width: 1024px) {
    .choose {
      width: 20vw;
      top: 30vh;
      right: 8vw; } }

.slide-modal {
  display: block;
  width: 50%;
  z-index: 10;
  background-color: rgba(40, 54, 24, 0.9);
  padding: 3%;
  position: fixed;
  top: 5%;
  left: 25%;
  transition: transform 0.8s ease-in; }
  .slide-modal p {
    font-size: 2.5rem; }

.slide {
  transform: translateY(-50vh); }

#projects {
  padding: 5%;
  min-height: 100vh;
  padding: 5% 5% 0; }
  #projects h1,
  #projects p,
  #projects h2 {
    color: #283618; }
  #projects .line {
    border: 1px solid #283618; }

.iconGrid {
  margin: auto; }
  @media (min-width: 760px) {
    .iconGrid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 5%; } }
  @media (min-width: 1024px) {
    .iconGrid {
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 2%; } }
  .iconGrid .icon {
    margin: 10%;
    justify-self: center; }
    .iconGrid .icon h2 {
      text-align: center; }
    @media (min-width: 760px) {
      .iconGrid .icon {
        margin: 0; } }
  .iconGrid img {
    display: block;
    margin: auto;
    width: 30%; }

#about {
  background-image: url(../img/fallen-tree.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 110vh;
  clip-path: polygon(0 0, 100% 9%, 100% 89%, 0% 100%);
  padding: 5% 10% 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.1fr 2fr;
  grid-gap: 1%; }
  #about h1,
  #about .line {
    grid-column: 1/-1; }
  #about p {
    grid-column: 1; }
  #about .aboutDiv {
    margin-top: 10%;
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start; }
    #about .aboutDiv div {
      text-align: center;
      margin: 1%;
      padding: 5%;
      background-color: #283618;
      border-radius: 5px; }
  #about img {
    width: 50%; }

footer {
  min-height: 10vh;
  padding: 0 10% 0; }
  footer h1,
  footer p,
  footer div,
  footer a {
    color: #283618; }
  footer .line {
    border: 1px solid #283618;
    margin: 0; }
  footer .footerIcon img {
    width: 5%; }
  @media (min-width: 760px) {
    footer .footerGrid {
      display: grid;
      grid-template-columns: 1fr 1fr; } }
  footer .smallText {
    font-size: 1rem; }

.smallContainer {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.descHeight {
  min-height: 19vh; }

.hidden {
  display: none; }

#securePayment {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 10px; }

input {
  border: 0;
  border-bottom: 1px solid #053515; }

.expdate {
  width: 2em; }
