@font-face {
  font-family: futuraBold;
  src: url(../fonts/futura/futura_bold_font.ttf); }

@font-face {
  font-family: openSans;
  src: url(../fonts/opensans/OpenSansCondensed-Light.ttf); }

header {
  width: 100vw;
  z-index: 1;
  position: absolute;
  padding: 5%; }
  @media (min-width: 1024px) {
    header {
      height: 80px; } }
  header .deskmenu {
    display: none; }
    @media (min-width: 1024px) {
      header .deskmenu {
        display: initial; }
        header .deskmenu li {
          font-size: 2rem;
          display: inline-block;
          margin: 0 5%; }
        header .deskmenu ul {
          padding-left: 15%;
          display: inline; } }
  header svg {
    float: right;
    fill: white;
    height: 50px;
    width: 40px; }
    @media (min-width: 1024px) {
      header svg {
        display: none; } }
    header svg rect {
      height: 8px;
      transition: all 0.6s; }
    header svg rect:nth-child(1) {
      transform-origin: left top; }
    header svg rect:nth-child(3) {
      transform-origin: left bottom; }
  header .navLogo {
    display: inline; }

ul {
  list-style-type: none; }

.menu {
  position: absolute;
  z-index: 1;
  margin-top: 80px;
  width: 100vw;
  transition: all 0.6s; }
  .menu li {
    font-size: 2rem;
    cursor: pointer; }

.hidden {
  -webkit-transform: translateX(-100vw);
  -ms-transform: translateX(-100vw);
  transform: translateX(-100vw); }

.fadeOut {
  opacity: 0; }

.rotateUp {
  -webkit-transform: rotate(-45deg) translate(18px, 41px);
  -ms-transform: rotate(-45deg) translate(18px, 41px);
  transform: rotate(-45deg) translate(18px, 41px); }

.rotateDown {
  -webkit-transform: rotate(45deg) translate(17px, -14px);
  -ms-transform: rotate(45deg) translate(17px, -14px);
  transform: rotate(45deg) translate(17px, -14px); }

#profile {
  position: relative;
  padding: 15vh; }

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 40%, rgba(0, 0, 0, 0) 100%); }

.modal-content {
  border-radius: 10px;
  background-color: white;
  margin: 5% auto;
  padding: 5%;
  width: 80%; }

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer; }

.signUp,
.readMore {
  color: #f95738;
  cursor: pointer; }

.description {
  margin: 1% auto;
  width: 60%;
  padding: 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  grid-template-rows: 1fr; }
  .description .textProject,
  .description .titleProject,
  .description .textProject > h3 {
    color: black; }
  .description .titleProject {
    margin-top: 50vh;
    padding: 5%;
    color: white;
    font-size: 5rem;
    grid-column: 1;
    grid-row: 1; }
  .description .textProject {
    padding: 10%;
    grid-column: 2;
    grid-row: 1; }
  .description .imgProject {
    border-radius: 10px 0 0 10px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    grid-column: 1;
    grid-row: 1; }
  .description .close {
    position: absolute;
    top: 0;
    right: 2vw; }

* {
  box-sizing: border-box; }

:root {
  font-size: 62.5%;
  /*1 rem = 10px*/ }

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  background-color: #dde1d5; }

h1,
h2,
h3,
p,
div,
li,
a {
  color: white; }

h1,
h2,
li {
  margin: 0;
  font-family: futuraBold; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2rem;
  font-weight: 200; }

p,
div {
  font-size: 2rem;
  font-family: openSans; }

a {
  text-decoration: none; }

.shadow {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .shadow:hover {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.line {
  width: 80px;
  height: 1px;
  border: 1px solid white;
  margin: 0 0 5%; }

.button {
  font-family: futuraBold;
  background-color: #fa7960;
  text-align: center;
  margin: auto;
  padding: 1% 5%;
  font-size: 2rem; }

#hero {
  background-image: url(../img/forest1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  padding: 30vh 5vh 0 5vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%); }
  @media (min-width: 1024px) {
    #hero {
      padding: 40vh 10vh 0 10vh; } }
  #hero h1 {
    margin: 0;
    font-size: 5rem; }
    @media (min-width: 760px) {
      #hero h1 {
        font-size: 7rem; } }
  #hero h2 {
    padding: 0 0 0 10vh; }

.choose {
  background-color: #f95738;
  width: 40vh;
  padding: 5% 1%; }
  .choose .line {
    border: 0.5px solid white; }
  .choose h2 {
    font-family: openSans;
    text-align: center; }
  @media (min-width: 760px) {
    .choose {
      position: absolute;
      top: 30vh;
      right: 8vw; } }
  .choose .button {
    margin: 9% 5%; }

#projects {
  height: 90vh;
  padding: 5% 10% 0; }
  #projects h1,
  #projects p,
  #projects h2 {
    color: #283618; }
  #projects .line {
    border: 1px solid #283618; }

.iconGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1%;
  margin: auto; }
  .iconGrid .icon {
    justify-self: center; }
  .iconGrid img {
    width: 30%; }

#about {
  background-image: url(../img/fallen-tree.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 130vh;
  clip-path: polygon(0 0, 100% 9%, 100% 89%, 0% 100%);
  padding: 5% 10% 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.1fr 2fr;
  grid-gap: 1%; }
  #about h1,
  #about .line {
    grid-column: 1/-1; }
  #about p {
    grid-column: 1; }
  #about .aboutDiv {
    margin-top: 10%;
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start; }
    #about .aboutDiv div {
      text-align: center;
      margin: 1%;
      padding: 5%;
      background-color: #283618;
      border-radius: 10px; }
  #about img {
    width: 50%; }

footer {
  background-color: #283618;
  padding: 5% 10% 0; }
  @media (min-width: 760px) {
    footer {
      display: grid;
      grid-template-columns: 1fr 1fr; }
      footer .line,
      footer h1 {
        grid-column: 1/-1; } }
  footer .smallText {
    font-size: 1rem; }
