@font-face {
  font-family: futuraBold;
  src: url(../fonts/futura/futura_bold_font.ttf); }

@font-face {
  font-family: openSans;
  src: url(../fonts/opensans/OpenSansCondensed-Light.ttf); }

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  z-index: 1;
  padding: 5%; }
  @media (min-width: 1024px) {
    header {
      height: 80px; } }
  header .deskmenu {
    display: none; }
    @media (min-width: 1024px) {
      header .deskmenu {
        display: initial; }
        header .deskmenu li {
          font-size: 2rem;
          display: inline-block;
          padding: 0 3%;
          cursor: pointer; }
        header .deskmenu ul {
          padding-left: 20%;
          display: inline; } }
    header .deskmenu h2 {
      cursor: pointer; }
  header svg.logo {
    width: 50%;
    float: left; }
    @media (min-width: 1024px) {
      header svg.logo {
        width: 20%; } }
  header svg.menuIcon {
    z-index: 10;
    float: right;
    fill: white;
    height: 50px;
    width: 40px; }
    @media (min-width: 1024px) {
      header svg.menuIcon {
        display: none; } }
    header svg.menuIcon rect {
      height: 8px;
      transition: all 0.6s; }
    header svg.menuIcon rect:nth-child(1) {
      transform-origin: left top; }
    header svg.menuIcon rect:nth-child(3) {
      transform-origin: left bottom; }
  header .navLogo {
    display: inline; }

ul {
  list-style-type: none; }

.menu {
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  padding-top: 80px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.6s; }
  .menu li,
  .menu h2 {
    line-height: 4rem;
    font-size: 3rem;
    cursor: pointer; }

.hidden {
  -webkit-transform: translateX(-100vw);
  -ms-transform: translateX(-100vw);
  transform: translateX(-100vw); }

.fadeOut {
  opacity: 0; }

.rotateUp {
  -webkit-transform: rotate(-45deg) translate(18px, 41px);
  -ms-transform: rotate(-45deg) translate(18px, 41px);
  transform: rotate(-45deg) translate(18px, 41px); }

.rotateDown {
  -webkit-transform: rotate(45deg) translate(17px, -14px);
  -ms-transform: rotate(45deg) translate(17px, -14px);
  transform: rotate(45deg) translate(17px, -14px); }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown:hover {
  border-radius: 5px; }

.dropdown-content {
  margin: 0;
  padding: 5% 0 5% 10%;
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1; }

.dropdown-content h2 {
  display: block; }

.dropdown:hover .dropdown-content {
  display: block; }

.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }

.box {
  width: 400px;
  height: 260px;
  background-color: grey;
  color: black; }

.treeImage {
  min-height: 100vh;
  background-image: url(../img/environment-forest-ground-1260324.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 41%, 0 65%);
  padding: 15% 5%; }
  .treeImage h1 {
    display: inline; }
  .treeImage .edit {
    width: 3%; }
  .treeImage p {
    margin: 0 0 0 3%; }

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 40%, rgba(0, 0, 0, 0) 100%); }

.donateForm,
.volunteerForm,
.notSignedIn {
  display: none; }

form {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.modal-content {
  color: black;
  border-radius: 10px;
  background-color: white;
  margin: 5% auto;
  padding: 5%;
  width: 80%; }
  .modal-content h3,
  .modal-content p,
  .modal-content label,
  .modal-content h2 {
    color: black; }
  .modal-content p,
  .modal-content label {
    font-size: 1.5rem; }

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer; }

.signUp,
.readMore,
.notSignedSignIn,
p > .signIn {
  color: #f95738;
  cursor: pointer; }

.description {
  margin: 1% auto;
  width: 60%;
  padding: 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  grid-template-rows: 1fr; }
  .description .textProject,
  .description .titleProject,
  .description .textProject > h3 {
    color: black; }
  .description .left {
    grid-column: 1;
    grid-row: 1; }
  .description .titleProject {
    margin-top: 50vh;
    padding: 5%;
    color: white;
    font-size: 5rem; }
  .description .textProject {
    padding: 10%;
    grid-column: 2;
    grid-row: 1; }
  .description .imgProject {
    border-radius: 10px 0 0 10px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    grid-column: 1;
    grid-row: 1; }
  .description .close {
    position: absolute;
    top: 0;
    right: 2vw; }

* {
  box-sizing: border-box; }

:root {
  font-size: 62.5%;
  /*1 rem = 10px*/ }

html {
  max-width: 100vw; }

body {
  margin: 0;
  padding: 0;
  background-color: #dde1d5; }

h1,
h2,
h3,
p,
div,
li,
a {
  color: white; }

h1,
h2,
li {
  margin: 0;
  font-family: futuraBold; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2rem;
  font-weight: 200; }

p,
div {
  font-size: 2rem;
  font-family: openSans; }

a {
  text-decoration: none; }

.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .shadow:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.line {
  width: 80px;
  height: 1px;
  border: 1px solid white;
  margin: 0 0 5%; }

.button {
  cursor: pointer;
  font-family: futuraBold;
  background-color: #fa7960;
  text-align: center;
  margin: auto;
  padding: 1% 5%;
  font-size: 2rem; }

#hero {
  background-image: url(../img/forest1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  padding: 30vh 5vh 0 5vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%); }
  @media (min-width: 1024px) {
    #hero {
      padding: 40vh 10vh 0 10vh; } }
  #hero .line {
    margin: 0;
    width: 15%; }
  #hero h1 {
    margin: 0;
    font-size: 5rem; }
    @media (min-width: 760px) {
      #hero h1 {
        font-size: 7rem; } }
  #hero h2 {
    font-size: 2.5rem;
    padding: 4vh 0 0 25vh; }
    @media (min-width: 760px) {
      #hero h2 {
        padding: 4vh 0 0 5vh; } }

.choose {
  margin: auto;
  background-color: #f95738;
  width: 40vw;
  padding: 5% 1%; }
  .choose .line {
    border: 0.5px solid white; }
  .choose h2 {
    font-family: openSans;
    text-align: center; }
  .choose .button {
    margin: 9% 5%; }
  @media (min-width: 760px) {
    .choose {
      position: absolute;
      top: 60vh;
      right: 30vw; } }
  @media (min-width: 1024px) {
    .choose {
      width: 20vw;
      top: 30vh;
      right: 8vw; } }

.slide-modal {
  display: block;
  width: 50%;
  z-index: 10;
  background-color: rgba(40, 54, 24, 0.9);
  padding: 3%;
  position: fixed;
  top: 5%;
  left: 25%;
  transition: transform 0.8s ease-in; }
  .slide-modal p {
    font-size: 2.5rem; }

.slide {
  transform: translateY(-50vh); }

#projects {
  padding: 5%;
  min-height: 100vh;
  padding: 5% 5% 0; }
  #projects h1,
  #projects p,
  #projects h2 {
    color: #283618; }
  #projects .line {
    border: 1px solid #283618; }

.iconGrid {
  margin: auto; }
  @media (min-width: 760px) {
    .iconGrid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 5%; } }
  @media (min-width: 1024px) {
    .iconGrid {
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 2%; } }
  .iconGrid .icon {
    margin: 10%;
    justify-self: center; }
    .iconGrid .icon h2 {
      text-align: center; }
    @media (min-width: 760px) {
      .iconGrid .icon {
        margin: 0; } }
  .iconGrid img {
    display: block;
    margin: auto;
    width: 30%; }

#about {
  background-image: url(../img/fallen-tree.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 110vh;
  clip-path: polygon(0 0, 100% 9%, 100% 89%, 0% 100%);
  padding: 5% 10% 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.1fr 2fr;
  grid-gap: 1%; }
  #about h1,
  #about .line {
    grid-column: 1/-1; }
  #about p {
    grid-column: 1; }
  #about .aboutDiv {
    margin-top: 10%;
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start; }
    #about .aboutDiv div {
      text-align: center;
      margin: 1%;
      padding: 5%;
      background-color: #283618;
      border-radius: 10px; }
  #about img {
    width: 50%; }

footer {
  min-height: 10vh;
  padding: 0 10% 0; }
  footer h1,
  footer p,
  footer div,
  footer a {
    color: #283618; }
  footer .line {
    border: 1px solid #283618;
    margin: 0; }
  footer .footerIcon img {
    width: 5%; }
  @media (min-width: 760px) {
    footer .footerGrid {
      display: grid;
      grid-template-columns: 1fr 1fr; } }
  footer .smallText {
    font-size: 1rem; }

.smallContainer {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.descHeight {
  min-height: 19vh; }

.hidden {
  display: none; }
